[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "land4health"]
	path = land4health
	url = https://github.com/harmonize-tools/land4health
